{% extends 'base.html' %}

{% block content %}

<div class="card">
    <h2>✏️ Edit Customer</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Name:</label>
        <input type="text" name="name" value="{{ customer.name }}" required>

        <label>Contact Number:</label>
        <input type="text" name="contact" value="{{ customer.contact_number }}">

        <label>Address:</label>
        <input type="text" name="address" value="{{ customer.address }}">

        <label>Type:</label>
        <select name="customer_type">
            <option value="regular" {% if customer.customer_type == 'regular' %}selected{% endif %}>Regular</option>
            <option value="student" {% if customer.customer_type == 'student' %}selected{% endif %}>Student</option>
        </select>

        <br><br>

        <button class="btn" type="submit">Save Changes</button>
    </form>

    <a class="btn" href="/">Back</a>
</div>

{% endblock %}